<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" th:href="@{bootstrap-5.0.2-dist/css/bootstrap.css}"/>
    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.js" th:href="@{bootstrap-5.0.2-dist/js/bootstrap.js}"></script>
    <link href ="../static/main.css" th:href="@{/main.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="../static/index.js" th:src="@{/index.js}" type="text/javascript" ></script>
    <title>EmployeeManagement</title>

</head>
<body>
<div class="container p-3 mb-2 bg-light text-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-danger border-bottom mb-2">
        <div class="container-fluid">
            <a class="navbar-brand title" href="#">EMS<h5>A web application for managing employees</h5></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- Employee Form-->
    <form id="form_activate" class="mb-3" novalidate style="display: none">
        <div class="row">
            <div class="mb-3 ">
                <label for="firstName" class="form-label">FirstName</label>
                <input type="text" class="form-control" id="firstName" required/>
                <div class="invalid-feedback firstName">
                    Please Provide name of the employee.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 ">
                <label for="lastName" class="form-label">LastName</label>
                <input type="text" class="form-control" id="lastName"/>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 ">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" required/>
                <div class="invalid-feedback email">
                    Please Provide Email of the employee.
                </div>
            </div>
        </div>

        <div class="custom_btn">
            <button id="save-employe" type="submit" class=" btn_submit btn btn-primary" style="width:10rem;">Submit</button>
        </div>
    </form >

    <!-- Show list div-->
    <div id="empList">
        <table id="empTable">
            <thead id="empHead">
            <tr>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>EMAIL</th>
                <th>OPERATIONS</th>
            </tr>
            </thead>
            <tbody id="empBody">
            <tr  id="empty">
                <td>alamu</td>
                <td>khanna</td>
                <td>abc@gmail.com</td>
                <td>
                    <div>
                        <button  id="edit" class="edit btn btn-warning">edit</button>
                        <button id="delete" class="delete btn btn-danger">delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div id="addDiv" class="custom_btn">
    <button id="add-new" class=" btn btn-success ">Add Employee</button>
    </div>

</div>
</body>
</html>